<h1><%= repository_name %></h1>
<div class="table-responsive-md">
  <table class="table table-hover text-nowrap">
    <thead class="thead-light">
    <tr>
      <th>Project Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, repository_project_path(repository_name, project.id) %>
        </td>
        <td>
          <%= project.body.presence || 'No description' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
