.edit-content {
  h1, h2 {
    border-bottom: 1px solid whitesmoke;
  }
  img {
    max-width: 100%;
    margin-top: 8px;
    display: block;
  }
  blockquote {
    color: darkgray;
    &::before {
      content: '>';
    }
    p {
      display: inline;
    }
  }
  p {
    white-space: pre-wrap;
  }
  code {
    display: block;
    background-color: whitesmoke;
    padding: 8px;
  }
}