$color-base: #FFE0B2;
$color-main: #546E7A;
$color-accent: #757575;
//$font-size-rate: 62.5%; // 10px because browser default 16px.
$font-size-rate: 100%;
$font-size-small: 0.8rem;
$font-size-large: 1.2rem;
$base-space: 8px;
